/* Importa a fonte Chakra Petch do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Definindo as variáveis de cor */
:root {
  --cor-fundo: #dddddd;
  --cor-texto: #222831;
  --cor-botao-fundo: #30475e;
  --cor-botao-texto: #f5f7f8;
  --cor-item-fundo: #ffffff;
  --cor-item-texto: #30475e;
  --cor-item-sombra: rgba(0, 0, 0, 0.1);
  --cor-meta-texto: #45474b;
  --cor-rodape-fundo: #f5f7f8;
  --cor-rodape-texto: #45474b;
}

/* Estiliza o corpo da página */
body {
  font-family: "Chakra Petch", sans-serif;
  background-color: var(--cor-fundo);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Estiliza os títulos h1 */
h1 {
  font-size: 2.5rem;
  color: var(--cor-texto);
  text-align: center;
  letter-spacing: 0.4rem;
}

/* Estiliza as seções da página */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

/* Estiliza os inputs dentro das seções */
section input {
  width: 30rem;
  border: none;
  padding: 1rem;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
  color: var(--cor-meta-texto);
  font-size: 1rem;
  box-sizing: border-box;
}

/* Estiliza os botões dentro das seções */
section button {
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 1.5rem;
  background-color: var(--cor-botao-fundo);
  color: var(--cor-botao-texto);
  font-size: 1rem;
  cursor: pointer;
  transition: box-shadow 1s ease-in-out 0.2s, background-color 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

/* Adiciona efeito hover ao botão de pesquisa */
section button:hover {
  background-color: var(--cor-botao-fundo);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
  width: 60rem;
  height: 46vh;
  overflow-y: auto;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.6rem;
}

/* Estiliza cada item de resultado */
.item-resultado {
  background: var(--cor-item-fundo);
  border-radius: 0.6rem;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px var(--cor-item-sombra);
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
  font-size: 1.5rem;
  color: var(--cor-texto);
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
  text-decoration: none;
  color: var(--cor-item-texto);
}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
  text-decoration: underline;
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
  color: var(--cor-meta-texto);
  margin: 0.5rem 0;
}

/* Estiliza o rodapé da página */
footer {
  background-color: var(--cor-rodape-fundo);
  color: var(--cor-rodape-texto);
  text-align: center;
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 1rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }

  section input {
    width: 25rem;
    padding: 0.8rem;
  }

  .resultados-pesquisa {
    width: 40rem;
    height: 40vh;
  }

  .item-resultado h2 {
    font-size: 1.3rem;
  }
}

/* Responsividade para celulares */
@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
  }

  section input {
    width: 17rem;
  }

  section button {
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
  }

  .resultados-pesquisa {
    width: 90%;
    height: 50vh;
  }

  .item-resultado h2 {
    font-size: 1.1rem;
  }

  footer {
    font-size: 0.9rem;
  }
}
